streamlit==1.38.0
rich==13.7.1

langchain==0.1.17
langchain-openai==0.0.7
langchain-core==0.1.32
langchain-community==0.0.19
langgraph==0.0.30

pinecone-client==3.2.2
langchain-pinecone==0.0.3

openai==1.13.3
tiktoken==0.6.0
python-dotenv==1.0.1
PyPDF2==3.0.1
pypdf==3.17.4
unstructured==0.10.27
pandas==2.2.2
